# Problem 1 - Working with RDDs (4 points)

**Do not insert any additional cells than the ones that are provided.**

Create your SparkContext and SparkSession:

In [1]:
import findspark
findspark.init()
from pyspark import SparkContext
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("marvel").getOrCreate()
sc    = spark.sparkContext

In [4]:
spark

In [5]:
sc

In the following cell, make an RDD called `top1m` that contains the contents of the file `top-1m.csv` that you placed into the cluster's HDFS.

In [9]:
top1m = sc.textFile("top-1m.csv")

## Count the `.com` domains

How many of the websites in this RDD are in the .com domain?

In the following cell, write a code snippet using a Regular Expression that finds the records with `.com` and counts them.

In [10]:
import re

def numcom(s):
    if re.search(r'\.com$',s):
        return s

num_com = top1m.filter(numcom).count()
num_com

484593

## Histogram the Top Level Domains (TLDs)

What is the distribution of TLDs in the top 1 million websites? We can quickly compute this using the RDD function `countByValue()`.

In the following cell, write a function called `tld` (in Python) that takes a domain name string and outputs the top-level domain.

In [27]:
def tld(s):
    n = re.search('(?<=\.)[^.]+$',s) 
    if n:
        return n.group(0)

In the following cell, map the `top1m` RDD using `tld` into a new RDD called `tlds`.

In [28]:
tlds = top1m.map(lambda x: tld(x))

In the following two cells, evaluate `top1m.first()` and  `tlds.first()` to see if the first line of `top1m` transformed by `tld` is properly represented as the first line of `tlds`.

In [29]:
top1m.first()

'1,google.com'

In [30]:
tlds.first()

'com'

Look at the first 50 elements of `top1m` by evaluating `top1m.take(50)`.

In [31]:
top1m.take(50)

['1,google.com',
 '2,youtube.com',
 '3,facebook.com',
 '4,baidu.com',
 '5,wikipedia.org',
 '6,yahoo.com',
 '7,qq.com',
 '8,amazon.com',
 '9,taobao.com',
 '10,twitter.com',
 '11,google.co.in',
 '12,tmall.com',
 '13,instagram.com',
 '14,live.com',
 '15,vk.com',
 '16,sohu.com',
 '17,jd.com',
 '18,sina.com.cn',
 '19,reddit.com',
 '20,weibo.com',
 '21,google.co.jp',
 '22,yandex.ru',
 '23,360.cn',
 '24,blogspot.com',
 '25,login.tmall.com',
 '26,linkedin.com',
 '27,pornhub.com',
 '28,google.ru',
 '29,netflix.com',
 '30,google.com.br',
 '31,google.com.hk',
 '32,google.co.uk',
 '33,bongacams.com',
 '34,yahoo.co.jp',
 '35,google.fr',
 '36,csdn.net',
 '37,t.co',
 '38,google.de',
 '39,ebay.com',
 '40,microsoft.com',
 '41,alipay.com',
 '42,office.com',
 '43,twitch.tv',
 '44,msn.com',
 '45,bing.com',
 '46,xvideos.com',
 '47,microsoftonline.com',
 '48,mail.ru',
 '49,pages.tmall.com',
 '50,ok.ru']

Try the same thing with the `tlds` RDD to make sure that the first 50 lines were properly transformed.

In [32]:
tlds.take(50)

['com',
 'com',
 'com',
 'com',
 'org',
 'com',
 'com',
 'com',
 'com',
 'com',
 'in',
 'com',
 'com',
 'com',
 'com',
 'com',
 'com',
 'cn',
 'com',
 'com',
 'jp',
 'ru',
 'cn',
 'com',
 'com',
 'com',
 'com',
 'ru',
 'com',
 'br',
 'hk',
 'uk',
 'com',
 'jp',
 'fr',
 'net',
 'co',
 'de',
 'com',
 'com',
 'com',
 'com',
 'tv',
 'com',
 'com',
 'com',
 'com',
 'ru',
 'com',
 'ru']

At this point, `tlds.countByValue()` would give us a list of each TLD and the number of times that it appears in the top1m file. Note that this function returns the results as a `defaultDict` in the Python environemnt, not as an RDD. But we want it reverse sorted by count. To do this, we can set a variable called `tlds_and_counts` equal to `tlds.countByValue()` and then reverse the order, sort, and take the top 50, like this:

```
tlds_and_counts = tlds.countByValue()
counts_and_tlds = [(count,domain) for (domain,count) in tlds_and_counts.items()]
```

In the following cell, run the code above to produce the Python Dictionary.

In [33]:
tlds_and_counts = tlds.countByValue()
counts_and_tlds = [(count,domain) for (domain,count) in tlds_and_counts.items()]

In the following cell, reverse sort `counts_and_tlds` and display the first 50.

In [34]:
sorted(counts_and_tlds,key=lambda x: x[0],reverse=True)[:50]

[(484593, 'com'),
 (45610, 'org'),
 (41336, 'net'),
 (40239, 'ru'),
 (34374, 'de'),
 (28186, 'br'),
 (18616, 'uk'),
 (16903, 'pl'),
 (15507, 'ir'),
 (12239, 'it'),
 (12041, 'in'),
 (10346, 'fr'),
 (9411, 'au'),
 (8753, 'jp'),
 (8414, 'info'),
 (8070, 'cz'),
 (6518, 'es'),
 (6340, 'nl'),
 (6262, 'ua'),
 (6086, 'co'),
 (5706, 'cn'),
 (5634, 'ca'),
 (5596, 'io'),
 (5246, 'tw'),
 (5009, 'eu'),
 (4812, 'kr'),
 (4794, 'gr'),
 (4788, 'ch'),
 (4512, 'mx'),
 (3841, 'ro'),
 (3836, 'se'),
 (3631, 'no'),
 (3608, 'at'),
 (3484, 'me'),
 (3469, 'tv'),
 (3392, 'be'),
 (3267, 'za'),
 (3266, 'hu'),
 (3076, 'vn'),
 (3039, 'sk'),
 (3020, 'us'),
 (3013, 'ar'),
 (2798, 'edu'),
 (2769, 'dk'),
 (2553, 'tr'),
 (2439, 'pt'),
 (2300, 'biz'),
 (2256, 'cl'),
 (2228, 'id'),
 (2154, 'fi')]

**Question:** `top1m.collect()[0:50]` and `top1m.take(50)` produce the same result. Which one is more efficient and why? Put your answer in the cell below.

In [35]:
## top1m.take(50) is more efficient and takes less time.
## Because collect()[0:50] will go through the whole dataset and then display the 50 records as a result,
## But for take(50), it will only return an arrary of 50 records.

When you finish this problem, click on the File -> 'Save and Checkpoint' in the menu bar to make sure that the latest version of the workbook file is saved. Also, before you close this notebook and move on, make sure you disconnect your SparkContext, otherwise you will not be able to re-allocate resources. Remember, you will commit the .ipynb file to the repository for submission (in the master node terminal.)

In [36]:
sc.stop()