# Create Merged Dataset

In this workbook, you will read in the `trip` and `fare` files. You are welcome to use DataFrame and/or SparkSQL API as you desire as long as it produces the expected results.

Instructions:

1. Join both datasets such that you get a merged dataset with 21 unique fields. You need to determine how to join the dataset.
2. Once you create the merged dataset, you need to convert fields to the following types, since all fields were read is as string:
    * pickup_datetime and dropoff_datetime must be TIMESTAMP
    * passenger_count and rate_code must be INT
    * all other numeric fields must be FLOAT
    * the remaining fields stay as STRING
3. Save your merged and converted dataset to your own S3 bucket in parquet format.

You are welcome to add as many cells as you need below up until the next section. **You must include comments in your code.**

In [1]:
# Start SparkSession
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("HW-5").getOrCreate()

In [2]:
# Test whether the Spark can work
spark

In [3]:
# Load the trip data from s3 bucket
trip = spark.read\
  .format('parquet')\
  .option('header', 'true')\
  .option('inferSchema', 'true')\
  .load('s3://bigdatateaching/nyctaxi-2013/parquet/trip/')

In [4]:
# Print the first 10 records for trip
trip.show(10)

+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
|           medallion|        hack_license|vendor_id|rate_code|store_and_fwd_flag|    pickup_datetime|   dropoff_datetime|passenger_count|trip_time_in_secs|trip_distance|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|
+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
|0F6CF8A85A039CDF3...|33BC9D03BE4E9B8E1...|      VTS|        1|              null|2013-04-20 20:22:00|2013-04-20 20:28:00|              1|              360|          .46|       -73.98571|      40.762817|       -73.978874|       40.762306|
|75148F5ED6DECC2B4...|FC93BBB797CBAA633...|      VTS|        1|              null|2013-04-19 20:22:00|2013-04-19 20:29:00|              1|              420|          .98|      -73.976372|      40.752708|       -73.987167|       40.746979|
|D0D9C0CD2B6E87AD6...|989738ED439E7B633...|      VTS|        1|              null|2013-04-20 19:55:00|2013-04-20 20:26:00|              1|             1860|        14.10|       -73.96035|      40.761929|       -73.767807|        40.76152|
|7A786DEAECF59A090...|749D6B1C8942CC1A9...|      VTS|        1|              null|2013-04-20 20:16:00|2013-04-20 20:29:00|              1|              780|         3.27|       -73.97789|      40.745956|       -73.988716|       40.778271|
|777710CE76CBB5AA3...|19BAC4238FB7745C2...|      VTS|        1|              null|2013-04-20 23:19:00|2013-04-20 23:30:00|              2|              660|         1.48|      -73.985832|      40.741581|       -73.993744|       40.727081|
|ED75D2ABE6241A671...|6C2FF19A115CC5092...|      VTS|        1|              null|2013-04-20 23:25:00|2013-04-20 23:29:00|              5|              240|          .67|      -74.005371|      40.745434|       -73.996178|       40.744179|
|4DC8AF4D7A35AA2B7...|260C1EC0C586F0CE5...|      VTS|        1|              null|2013-04-20 23:17:00|2013-04-20 23:27:00|              3|              600|         1.19|      -73.982735|      40.735321|       -73.982735|       40.735321|
|C61EBE0BFDD0A348B...|7C36013218D83B665...|      VTS|        1|              null|2013-04-20 23:15:00|2013-04-20 23:27:00|              1|              720|         2.10|       -74.00634|      40.742268|       -74.002464|       40.718864|
|FBE13E2D830FE83F9...|08C64489FF7555D72...|      VTS|        1|              null|2013-04-20 23:15:00|2013-04-20 23:28:00|              1|              780|         2.93|      -73.986282|      40.763962|        -73.95163|         40.7812|
|038E76DC061A40AE0...|CA93DFED15A69BE2D...|      VTS|        1|              null|2013-04-20 23:14:00|2013-04-20 23:25:00|              2|              660|         2.47|      -74.001183|      40.736713|       -73.985489|       40.763195|
+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
only showing top 10 rows

In [5]:
# Load the fare data from s3 bucket
fare = spark.read\
  .format('parquet')\
  .option('header', 'true')\
  .option('inferSchema', 'true')\
  .load('s3://bigdatateaching/nyctaxi-2013/parquet/fare/')

In [6]:
# Print the first 10 records for fare 
fare.show(10)

+--------------------+--------------------+---------+-------------------+------------+-----------+---------+-------+----------+------------+------------+
|           medallion|        hack_license|vendor_id|    pickup_datetime|payment_type|fare_amount|surcharge|mta_tax|tip_amount|tolls_amount|total_amount|
+--------------------+--------------------+---------+-------------------+------------+-----------+---------+-------+----------+------------+------------+
|ABC075C8871353E9F...|F13B6FECD12C974E7...|      VTS|2013-04-09 18:11:00|         CRD|       11.5|        1|    0.5|      3.12|           0|       16.12|
|6F05C2D331B2178F3...|38A4C7A8805AF6713...|      VTS|2013-04-09 18:16:00|         CSH|        5.5|        1|    0.5|         0|           0|           7|
|A2B2E4DC64E3B3B9F...|902DEAA1A28E6022C...|      VTS|2013-04-09 18:08:00|         CRD|       15.5|        1|    0.5|         2|           0|          19|
|D5DB49A3CBC353FB7...|65324A9B1F91221CA...|      VTS|2013-04-09 18:17:00|         CSH|          5|        1|    0.5|         0|           0|         6.5|
|AB5964E59B2458472...|00374328FBA75FBFC...|      VTS|2013-04-09 18:06:00|         CSH|         13|        1|    0.5|         0|           0|        14.5|
|D6892CBB7611985DC...|7227B8FAD01C94B5F...|      VTS|2013-04-09 18:23:00|         CRD|          3|        1|    0.5|       0.8|           0|         5.3|
|7166914A326D84915...|FE44D0EA86E9882E9...|      VTS|2013-04-09 18:16:00|         CRD|        7.5|        1|    0.5|         1|           0|          10|
|D016579A75E4CE553...|01060D63D29CE42C8...|      VTS|2013-04-09 18:20:00|         CRD|        5.5|        1|    0.5|       1.3|           0|         8.3|
|8F0D4A95E121B52CA...|56237D1B787603219...|      VTS|2013-04-09 18:14:00|         CRD|         10|        1|    0.5|       2.2|           0|        13.7|
|5D506A80496D56D8E...|3F3C8F830606CFDA5...|      VTS|2013-04-09 18:16:00|         CSH|        6.5|        1|    0.5|         0|           0|           8|
+--------------------+--------------------+---------+-------------------+------------+-----------+---------+-------+----------+------------+------------+
only showing top 10 rows

In [7]:
# Look at the Schema for the two datasets
trip.printSchema()
fare.printSchema()

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- vendor_id: string (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_time_in_secs: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- pickup_longitude: string (nullable = true)
 |-- pickup_latitude: string (nullable = true)
 |-- dropoff_longitude: string (nullable = true)
 |-- dropoff_latitude: string (nullable = true)

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- vendor_id: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- surcharge: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- total_amount: string (nullable = true)

In [8]:
# Create two tables called 'trip_table' and 'fare_table'
trip.createOrReplaceTempView("trip_table")
fare.createOrReplaceTempView("fare_table")

In [9]:
# Join two tables by the variables 'medallion','hack_license' and 'pickup_datetime'
# To make sure the 'fare' matches the same 'trip'
nyctaxi = spark.sql("""
SELECT
t.medallion              
, t.hack_license           
, t.vendor_id              
, t.pickup_datetime        
, f.payment_type           
, f.fare_amount            
, f.surcharge              
, f.mta_tax             
, f.tip_amount            
, f.tolls_amount           
, f.total_amount         
, t.rate_code              
, t.store_and_fwd_flag     
, t.dropoff_datetime       
, t.passenger_count     
, t.trip_time_in_secs      
, t.trip_distance          
, t.pickup_longitude       
, t.pickup_latitude        
, t.dropoff_longitude      
, t.dropoff_latitude      
FROM trip_table t
JOIN fare_table f 
ON
(t.medallion = f.medallion 
and t.hack_license = f.hack_license 
and t.pickup_datetime = f.pickup_datetime)
""").cache()

In [10]:
# See the Schema of the merged dataset
nyctaxi.printSchema()

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- vendor_id: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- surcharge: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_time_in_secs: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- pickup_longitude: string (nullable = true)
 |-- pickup_latitude: string (nullable = true)
 |-- dropoff_longitude: string (nullable = true)
 |-- dropoff_latitude: string (nullable = true)

In [11]:
# Convert data type
# pickup_datetime and dropoff_datetime must be TIMESTAMP
nyctaxi_converted = nyctaxi.withColumn("pickup_datetime",nyctaxi["pickup_datetime"].cast("timestamp"))
nyctaxi_converted = nyctaxi_converted.withColumn("dropoff_datetime",nyctaxi["dropoff_datetime"].cast("timestamp"))

# passenger_count and rate_code must be INT
nyctaxi_converted = nyctaxi_converted.withColumn("passenger_count",nyctaxi["passenger_count"].cast("int"))
nyctaxi_converted = nyctaxi_converted.withColumn("rate_code",nyctaxi["rate_code"].cast("int"))

# all other numeric fields must be FLOAT
nyctaxi_converted = nyctaxi_converted.withColumn("trip_distance",nyctaxi["trip_distance"].cast("float"))
nyctaxi_converted = nyctaxi_converted.withColumn("pickup_latitude",nyctaxi["pickup_latitude"].cast("float"))
nyctaxi_converted = nyctaxi_converted.withColumn("pickup_longitude",nyctaxi["pickup_longitude"].cast("float"))
nyctaxi_converted = nyctaxi_converted.withColumn("dropoff_latitude",nyctaxi["dropoff_latitude"].cast("float"))
nyctaxi_converted = nyctaxi_converted.withColumn("dropoff_longitude",nyctaxi["dropoff_longitude"].cast("float"))
nyctaxi_converted = nyctaxi_converted.withColumn("fare_amount",nyctaxi["fare_amount"].cast("float"))
nyctaxi_converted = nyctaxi_converted.withColumn("surcharge",nyctaxi["surcharge"].cast("float"))
nyctaxi_converted = nyctaxi_converted.withColumn("mta_tax",nyctaxi["mta_tax"].cast("float"))
nyctaxi_converted = nyctaxi_converted.withColumn("tip_amount",nyctaxi["tip_amount"].cast("float"))
nyctaxi_converted = nyctaxi_converted.withColumn("tolls_amount",nyctaxi["tolls_amount"].cast("float"))
nyctaxi_converted = nyctaxi_converted.withColumn("total_amount",nyctaxi["total_amount"].cast("float"))
nyctaxi_converted = nyctaxi_converted.withColumn("trip_time_in_secs",nyctaxi["trip_time_in_secs"].cast("float"))

## In the following cells, please provide the requested code and output. Do not change the order and/or structure of the cells.

In the next cell, provide the code that saves your merged dataset to your S3 bucket.

In [13]:
nyctaxi_converted.write.parquet("s3://zzzzzzhy0607/merged_data",mode="overwrite")

In the next cell, print the schema of your merged dataset.

In [15]:
nyctaxi_converted.printSchema()

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- vendor_id: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: float (nullable = true)
 |-- surcharge: float (nullable = true)
 |-- mta_tax: float (nullable = true)
 |-- tip_amount: float (nullable = true)
 |-- tolls_amount: float (nullable = true)
 |-- total_amount: float (nullable = true)
 |-- rate_code: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_time_in_secs: float (nullable = true)
 |-- trip_distance: float (nullable = true)
 |-- pickup_longitude: float (nullable = true)
 |-- pickup_latitude: float (nullable = true)
 |-- dropoff_longitude: float (nullable = true)
 |-- dropoff_latitude: float (nullable = true)

In the next cell, print the first 10 records of your merged dataset.

In [16]:
nyctaxi_converted.show(10)

+--------------------+--------------------+---------+-------------------+------------+-----------+---------+-------+----------+------------+------------+---------+------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
|           medallion|        hack_license|vendor_id|    pickup_datetime|payment_type|fare_amount|surcharge|mta_tax|tip_amount|tolls_amount|total_amount|rate_code|store_and_fwd_flag|   dropoff_datetime|passenger_count|trip_time_in_secs|trip_distance|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|
+--------------------+--------------------+---------+-------------------+------------+-----------+---------+-------+----------+------------+------------+---------+------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
|00005007A9F30E289...|0649DA10C83DE7C6A...|      CMT|2013-05-14 21:41:46|         CSH|       10.5|      0.5|    0.5|       0.0|         0.0|        11.5|        1|                 Y|2013-05-14 21:52:49|              1|            663.0|          2.7|        -73.9876|      40.761337|        -73.95461|        40.76898|
|00005007A9F30E289...|16780B3E72BAA7A5C...|      CMT|2013-07-16 18:32:07|         CSH|        7.5|      1.0|    0.5|       0.0|         0.0|         9.0|        1|                 N|2013-07-16 18:41:58|              1|            591.0|          0.8|       -73.98923|       40.74743|       -73.998184|        40.74895|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-10-02 12:51:16|         CRD|        8.5|      0.0|    0.5|       1.8|         0.0|        10.8|        1|                 N|2013-10-02 13:03:42|              2|            745.0|          0.5|       -73.99525|       40.74958|       -73.989494|       40.755898|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-10-05 11:05:19|         CSH|        6.0|      0.0|    0.5|       0.0|         0.0|         6.5|        1|                 N|2013-10-05 11:10:00|              1|            280.0|          1.2|       -73.96498|      40.791233|        -73.96191|       40.779648|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-10-10 11:42:32|         CSH|       17.0|      0.0|    0.5|       0.0|         0.0|        17.5|        1|                 N|2013-10-10 11:54:47|              1|            734.0|          5.1|       -73.98229|      40.777756|        -73.94243|        40.83687|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-10-11 13:40:39|         CSH|        6.5|      0.0|    0.5|       0.0|         0.0|         7.0|        1|                 N|2013-10-11 13:47:35|              1|            416.0|          0.9|       -73.97346|      40.764458|        -73.96326|       40.771683|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-10-19 14:30:59|         CSH|        5.0|      0.0|    0.5|       0.0|         0.0|         5.5|        1|                 N|2013-10-19 14:35:33|              1|            274.0|          0.6|       -73.98155|      40.768353|        -73.97345|        40.76437|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-11-09 14:53:32|         CRD|       24.0|      0.0|    0.5|       4.9|         0.0|        29.4|        1|                 N|2013-11-09 15:14:01|              1|           1228.0|          7.2|       -74.01281|        40.7167|        -73.96437|       40.807182|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-11-11 12:30:33|         CRD|        6.0|      0.0|    0.5|       1.3|         0.0|         7.8|        1|                 N|2013-11-11 12:35:17|              1|            284.0|          0.9|       -74.01484|       40.71418|        -74.01491|       40.707893|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-11-20 16:07:28|         CSH|        7.5|      1.0|    0.5|       0.0|         0.0|         9.0|        1|                 N|2013-11-20 16:15:29|              1|            480.0|          1.4|       -73.95694|       40.76803|        -73.95659|        40.78263|
+--------------------+--------------------+---------+-------------------+------------+-----------+---------+-------+----------+------------+------------+---------+------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
only showing top 10 rows

In the next cell, print the row count of your merged dataset.

In [17]:
print("Number of records: " + str(nyctaxi_converted.count()))

Number of records: 173185091